@charset "UTF-8";

/* 清除预定设置 */
html, body,h1, h2, h3, p, ul, ol, li, input, iframe, table, tr, td {
	margin:0;
	padding:0;
}

body {
	width:1000px;
	height:1150px;
	font-family:SimHei, STHeiti, "Microsoft YaHei", sans-serif;
	background-color:#ededec;
}


/* 预定字体 */
/* 黑体 */
.font-HT {
	font-family:SimHei, STHeiti, "Microsoft YaHei", sans-serif;
}

/* 微软雅黑 */
.font-MSYH {
	font-family:"Microsoft YaHei", SimHei, STHeiti, sans-serif;
}

/* 宋体 */
.font-ST {
	font-family:SimSun, STSong, serif;
}

/* 清除浮动 */
.clearfix:after {
	content:"";
	clear:both;
	display:table;
}

.container {
	width:890px;
	height:100%;
	margin:25px auto 0 auto;
}

/* 筛选 */
.search,
.history,
.statistics {
	background-color:white;
	width:100%;
}

.search {
	height:85px;
	font-size:12px;
}

.search > form {
	width:800px;
	height:57px;
	padding:14px 60px 14px 30px;
}

.search > form > div {
	height:100%;
	float:left;
	margin-right:15px;
}

.search span {
	color:#b0b0b0;
	margin-right:15px;
}

.search select,
.search input {
	font:12px SimHei, STHeiti, "Microsoft YaHei", sans-serif;
	appearance:none; /* 清除浏览器样式 */
	-moz-appearance:none;
	-webkit-appearance:none;
	border:1px solid #b0b0b0;
	height:25px;
	width:107px;
	padding-left:10px;
	background:url('../images/arrow_down.png') no-repeat 100px center;
	box-sizing: content-box;/* 使用老式的content-box，算习惯了 */
	-moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    cursor:pointer;
}

.search input {
	background:none;
}

.search select[class='sel-sm'] {
	width:60px;
	background-position:55px center;
}

.s-right select,
.s-right input {
	margin-right:15px;
}

.s-left {
	width:140px;
}

.s-center {
	width:205px;
}

.s-center > div[class*='top'],
.s-right > div[class*='top'] {
	margin-bottom:8px;
}

.s-right-t,
.s-right-b {
	width:305px;
}

.blue-button {
	width:52px;
	height:25px;
	border:none;
	background-color:#388ac1;
	color:white;
	cursor:pointer;
	border-radius:4px;
}

.blue-button:hover {
	background-color:#459fdb;
}

.search button {
	float:left;
	margin-top:18px;
}

/* 历史信息 */
.history {
	height:65px;
	margin:5px 0 20px 0;
	background-color:#eeeded;
	font-size:12px;
}

.history div {
	width:70px;
	height:39px;
	padding:10px 20px 13px 20px;
	margin-right:5px;
	display:inline-block;
	float:left;
	text-align:center;
	background-color:white;
	cursor:pointer;
}

.history div[class*='arrow-'] {
	width:30px;
	height:62px;
	padding:0;
	background-repeat:no-repeat;
	background-position:center center;
	background-color:white;
}

.history .arrow-left {
	background:url('../images/arrow_left.png');
}

.history .arrow-right {
	background:url('../images/arrow_right.png');
}

.history div[class='calendar'] {
	width:82px;
	height:39px;
	padding:23px 0 0 48px;
	margin:0;
	background:white url('../images/calendar.png') no-repeat 20px 15px;
}

.history div:hover {
	border-top:3px solid #4388c8;
}

.history div,
.history div[class*='arrow-']:hover,
.history div[class='calendar']:hover {
	border-top:3px solid white;
}

.history .rmb {
	font-size:16px;
	color:#b0b0b0;
	margin-right:-8px;
}

.history .num {
	font-size:21px;
	color:#ec6500;
}

/* 订单数据 */
.statistics {
	height:116px;
	background-color:#eeeeed;
}

.statistics div {
	font-size:12px;
	line-height:26px;
	height:26px;
	width:100%;
}

.statistics div[class*='stat-'] {
	background-color:white;
	float:left;
	height:88px;
	width:194px;
	margin-right:32px;
	border:1px solid #cdcdcd;
}

.statistics div[class*='last'] {
	margin:0;
	width:196px;
}

.statistics .block {
	width:68px;
	height:62px;
	float:left;
	margin-top:12px;
}

.statistics .text {
	float:left;
	width:100px;
	height:68px;
	background-color:white;
	margin-left:8px;
	margin-top:20px;
	color:#b0b0b0;
	font-size:10px;
}

.statistics .text .bold {
	color:black;
	font-size:16px;
}

.statistics div.green {
	border-left:3px solid #43b29d;
}

.statistics div.blue {
	border-left:3px solid #388ac1;
}

.statistics div.red {
	border-left:3px solid #d04b36;
}

.statistics div.yellow {
	border-left:3px solid #e2cd46;
}

.statistics .green .block {
	background-color:#43b29d;
}

.statistics .blue .block {
	background-color:#388ac1;
}

.statistics .red .block {
	background-color:#d04b36;
}

.statistics .yellow .block {
	background-color:#e2cd46;
}

/* 项目组 */
.project {
	height:355px;
	margin:20px 0 10px 0;
}

.project-left,
.project-right,
.last .calendar,
.last .brand-list {
	display:inline-block;
	float:left;
	background-color:white;
	height:100%;
	border-radius:7px;
	border:1px solid #cdcdcd;
}

/* 项目组左侧 */
.project-left {
	width:528px;
	margin-right:10px;
}

.project-left .top,
.project-right .top,
.last .calendar .top,
.last .brand-list .top {
	height:27px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom:1px solid #cdcdcd;
	background-color:#f3f5f6;
	color:#aaaaaa;
	padding:13px 0 0 20px;
}

.project-left .nav {
	width:490px;
	height:26px;
	margin:12px auto 0 auto;
}

.project-left .nav div {
	width:86px;
	height:21px;
	background-color:#ededef;
	margin-right:5px;
	float:left;
	font-size:14px;
	text-align:center;
	padding-top:5px;
	border-top:2px solid transparent;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	cursor:pointer;
}

.project-left .nav div.on,
.project-left .nav div:hover {
	height:21px;
	background-color:white;
	border-top:2px solid #ededef;
	border-left:2px solid #ededef;
	border-right:2px solid #ededef;
}

.project-left .main {
	width:486px;
	height:246px;
	margin:0 auto;
	border:2px solid #ededef;
}

.project-left table {
	height:186px;
	width:406px;
	margin:30px auto;
	border-collapse:collapse;
	border:2px solid #ededef;
	font-size:12px;

}

.project-left table tr td {
	border:2px solid #ededef;
	padding:2px 0 0 16px;
}

.project-left table tr td:hover {
	background-color:#ededef;
}

/* 项目组右侧 */
.project-right {
	width:348px;
}

.project-right .main {
	width:286px;
	height:274px;
	margin:12px auto;
}

.project-right span {
	color:#aaaaaa;
	font-size:14px;
}

.project-right h3 {
	font-size:14px;
	font-weight:normal;
}

.project-right .price,
.project-right .person {
	height:45px;
	padding-left:15px;
	float:left;
	width:175px;
	border-top:1px solid #ededef;
	margin-top:8px;
}

.project-right .price {
	width:80px;
	border-right:1px solid #ededef;
}

.project-right .desc {
	clear:both;
	width:100%;
	height:145px;
	border-top:1px solid #ededef;
	border-bottom:1px solid #ededef;
}

.project-right .bottom {
	margin-top:10px;
}

.project-right .bottom input {
	width:15px;
	height:15px;
	vertical-align:middle;
}

.project-right .bottom button {
	float:right;
}

/* 底部 */
.last {
	height:360px;
}

/* 日历 */
.last .calendar {
	width:348px;
	margin-right:10px;
}

.last .calendar .main {
	width:312px;
	height:284px;
	margin:10px auto 0 auto;
}

/* 日历筛选 */
.sele > * {
	height:20px;
	border:1px solid #ededef;
	float:left;
	margin-right:5px;
	cursor:pointer;
}

.cal-year {
	width:64px;
}

.sele .month {
	width:85px;
	height:20px;
	border-left:0;
	border-right:0;
}

.sele .month > * {
	float:left;
}

.sele .month span {
	width:18px;
	border:0;
	height:20px;
	border-left:1px solid #ededef;
	border-right:1px solid #ededef;
	background:url('../images/right.png') no-repeat center center;
}

.sele .month span[class='left-icon'] {
	background:url('../images/left.png') no-repeat center center;
}

.sele .month .cal-month {
	width:45px;
	border:0;
}

.cal-mark {
	width:76px;
}

.sele button {
	background-color:white;
	margin-right:0;
}

/* 周 */
.calendar .main .week {
	width:308px;
	height:30px;
	margin:10px auto;
	text-align:center;
	border-top:2px solid #d9eaf7;
	border-bottom:2px solid #ededef;
}

.calendar .main .week ul li {
	list-style-type:none;
	float:left;
	width:44px;
	font-size:12px;
	line-height:30px;
}

/* 日 */
.day td {
	width:40px;
	height:38px;
	text-align:center;
	font-size:12px;
	border:1px solid white;
	cursor:pointer;
}

.day td span {
	width:40px;
	height:19px;
	float:left;
}

.day td span.holiday,
.day td span.weekend {
	color:#d87274;
}

.day td.on,
.day td:hover {
	border:1px solid #f4c21c;
}

/* 品牌列表 */
.brand-list {
	width:528px;
}

.brand-list .main {
	width:450px;
	height:276px;
	margin:20px auto;
}

.brand-list .main table {
	border-collapse:collapse;
	text-align:center;
	width:100%;
	height:100%;
}

.brand-list td,
.brand-list th {
	border:1px solid #ededef;
	font-size:14px;
}

.brand-list th {
	font-size:16px;
	font-weight:normal;
}

.t-left {
	text-align:left;
	padding-left:40px;
}

.brand-list tr:hover {
	background-color:#ededef;
}

.brand-list td > div {
	width:170px;
	height:5px;
	background-color:#ededef;
	display:inline-block;
	margin:10px 0 0 30px;
}

.brand-list td div > span {
	height:5px;
	float:left;
}

.brand-list .red {
	background-color:#ed6e52;
}

.brand-list .yellow {
	background-color:#f19e4f;
}

.brand-list .blue {
	background-color:#7ecaf0;
}

.brand-list .len-1 {
	width:140px;
}

.brand-list .len-2 {
	width:122px;
}

.brand-list .len-3 {
	width:104px;
}

.brand-list .len-4 {
	width:98px;
}

.brand-list .len-5 {
	width:88px;
}

.brand-list .len-6 {
	width:81px;
}

.brand-list .len-7 {
	width:77px;
}

.brand-list .len-8 {
	width:64px;
}

.brand-list .len-9 {
	width:60px;
}

.brand-list .len-10 {
	width:56px;
}
