@charset "UTF-8";

/* 清除默认设置 */
html, body, ul, ol, li, p, h1, h2, h3, pre, button, input {
	margin:0;
	padding:0;
}

body {
	min-width:1280px;
	margin:0 auto;
	font-family:"Microsoft YaHei", SimHei, STHeiti, sans-serif;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
	float:left;
}

/* 预定字体 */
/* 黑体 */
.font-HT {
	font-family:SimHei, STHeiti, sans-serif;
}

/* 微软雅黑 */
.font-MSYH {
	font-family:"Microsoft YaHei", SimHei, STHeiti, sans-serif;
}

/* 宋体 */
.font-ST {
	font-family:SimSun, STSong, serif;
}

/* 清除浮动 */
.clearfix {
	zoom:1; /* IE */
}

.clearfix:before,
.clearfix:after {
	display:table;
	content:"";
}

.clearfix:after {
	clear:both;
}

/* 长度变化动画 */
.width-change {
	transition:width 1s;
	-moz-transition:width 1s; /* firefox */
	-webkit-transition:width 1s; /* Safari, Chrome */
	-o-transition:width 1s; /* Opera */
}

/* button hover变化动画 */
.btn-hover {
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s; /* Firefox 4 */
	-webkit-transition-duration: 0.5s; /* Safari 和 Chrome */
	-o-transition-duration: 0.5s; /* Opera */
}

/* 导航条 */
.navbar {
	height:56px;
	width:100%;
	
}

.navbar-brand {
	float:left;
	height:49px;
	padding-top:7px;
	margin-left:30px;
}

.navbar-brand span {
	font-size:21px;
	line-height:45px;
	font-weight:bold;
	color:#393a3a;
	vertical-align:middle;
}

.navbar-brand img {
	vertical-align:middle;
}

.navbar-nav {
	height:100%;
	float:right;
	margin-right:20px;
}

.navbar-nav ul {
	width:540px;
	height:100%;
	list-style-type:none;
	font:15px/56px "Microsoft YaHei", STHeiti, sans-serif;
	color:#787b83;
}

.navbar-nav ul li {
	width:90px;
	height:51px;
	float:left;
	text-align:center;
	text-decoration:none;
	color:#787b83;
	float:left;
}

.navbar-nav li:hover,
.li-selected span,
.navbar-nav ul li.navbar-login {
	color:#e74f4d;
}

.li-selected,
.navbar-nav li:hover{
	border-bottom:5px solid #e74f4d;
}

.navbar-login * {
	vertical-align:middle;
}

/* 主体大图 */
.mainfoucs-pic {
	width:100%;
	background:url(../images/main.png) no-repeat;
	height:854px;
	background-size:cover;
	position:relative;
}

/* 大图遮罩 */
.mainfoucs-mask {
	width:100%;
	min-width:1280px;
	height:854px;
	position:absolute;
	background-color:#020c1d;
	opacity:0.3;
	filter:alpha(opacity=30); /* IE */
}

.mainfoucs-text {
	position:relative;
	padding-left:150px;
	top:230px;
	color:white;
}

.mainfoucs-text h1 {
	font-size:60px;
	font-weight:500;
}

.mainfoucs-text h3 {
	margin:25px 0 0 10px;
	font-size:21px;
	font-weight:lighter;
	line-height:35px;
}

.mainfocus-btn {
	width:335px;
	height:65px;
	margin:50px 0 0 10px;
	background-color:#e74f4d;
	color:white;
	text-align:center;
	font-size:30px;
	line-height:65px;
	font-weight:lighter;
	display:inline-block;
	cursor:pointer;
}

.mainfocus-btn:hover {
	background-color:#EA7A79;
}

/* 品牌特点 */
.featuretags {
	width:100%;
	height:250px;
}

.featuretags-list {
	width:100%;
	height:100%;
}

.featuretags-item {
	width:25%;
	height:100%;
	float:left;
	list-style-type:none;
	text-align:center;
	font-size:16px;
	line-height:24px;
}

.featuretags-item img {
	margin:45px 139px;
	width:42px;
	height:42px;
}

.featuretags-item div {
	width:90%;
	margin:0 auto;
	height:60px;
	border-left:2px solid #767777;
}

.featuretags-item div.first {
	border:0;
}

/* 探索新世界 */
.explore {
	width:100%;
	height:360px;
	background-color:#ededec;
	text-align:center;
}

.explore h1 {
	font:54px SimHei, STHeiti, sans-serif;
	color:#867e7a;
	font-weight:lighter;
}

.explore img {
	margin:90px auto 45px auto;
}

/* 地图 */
.explore-map {
	width:100%;
	height:340px;
	padding-top:50px;
	background:url(../images/map.png) no-repeat;
	background-size:cover;
	text-align:center;
	color:white;
	position:relative;
}

/* 遮罩 */
.map-mask {
	position:absolute;
	width:100%;
	top:0;
	min-width:1280px;
	height:390px;
	opacity:0.2;
	filter:alpha(opacity=20); /* IE */
	background-color:#aa3433;
}

.explore-map-text {
	position:relative;
}

.explore-map-text:hover .text-separator {
	width:200px;
}

.explore-map-text h3 {
	font-size:21px;
	margin:0 auto 30px auto;
	font-weight:normal;
}

/* 横线间隔 */
.text-separator {
	width:30px;
	height:2px;
	background-color:white;
	position:relative;
	top:-14px;
	margin:0 auto;
}

/* 选择地区 */
.explore-map-address {
	width:70%;
	min-width:1280px;
	height:205px;
	margin:55px auto 0 auto;
	position:relative;
}

.explore-map-address > div {
	width:25%;
	float:left;
	position:relative;
}

.explore-map-address input {
	width:236px;
	height:35px;
	margin:0 auto;
	font-size:16px;
	padding:0 10px;
	font:12px "Microsoft YaHei", STHeiti, sans-serif;
	background:white url('../images/select-bg.png') no-repeat 95% 50%;
	border:solid #be4e48;
	border-width:1px 1px 0 1px;
}

/* 地区列表 */
.explore-map-address ul {
	display:none;
	position:relative;
	margin:0 auto;
	width:256px;
	overflow:hidden;
	background-color:#e3e3e4;
	border:solid #be4e48;
	border-width:0 1px 1px 1px;
	cursor:pointer;
}

.explore-map-address ul li {
	width:225px;
	padding-left:30px;
	list-style-type:none;
	height:27px;
	text-align:left;
	font-size:12px;
	line-height:27px;
	color:black;
}
.explore-map-address ul li:hover {
	background:url('../images/ok.png') no-repeat 8px center;
	background-color:#be4e48;
	color:white;
}

/* 悬浮或者取得焦点时显示列表 */
.country-input:hover + .country-ul,
.province-input:hover + .province-ul,
.city-input:hover + .city-ul,
.country-input:focus + .country-ul,
.province-input:focus + .province-ul,
.city-input:focus + .city-ul
 {
	display:block;
}


.explore-map-address button {
	width:238px;
	height:36px;
	border:none;
	text-align:center;
	background-color:#be4e48;
	cursor:pointer;
}

.explore-map-address button{
	font:14px "Microsoft YaHei", STHeiti, sans-serif;
	color:white;
	word-spacing:30px;
}

.explore-map-address button:hover {
	background-color:#e7736d;
}

/* 各地活动 */
.explore-activity {
	width:100%;
	height:600px;
	background-color:#f7f7f7;
}

.explore-activity ul {
	width:70%;
	min-width:1280px;
	height:390px;
	padding:105px 0;
	margin:0 auto;
	list-style:none;
}

.explore-activity ul li {
	width:17%;
	height:374px;
	padding:8px 4%;
	border:none;
	float:left;
	text-align:center;
}

.explore-activity ul li img {
	height:294px;
	width:75%;
	margin:0 auto;
	border:10px solid white;
}

.act-text-style-1,
.act-text-style-2 {
	text-align:center;
}

.act-text-style-1 h2 {
	font-size:15px;
}

.act-text-style-1 h3,
.act-text-style-2 h3 {
	font-size:12px;
}

.act-text-style-2 h2 {
	font-size:22px;
	word-spacing:20px;
	font-weight:normal;
}

.act-text-style-1 h2,
.act-text-style-1 h3,
.act-text-style-2 h2,
.act-text-style-2 h3 {
	font-family:"Microsoft YaHei", STHeiti, sans-serif;
	font-weight:normal;
}

/* 团队 */
.team {
	width:100%;
	height:567px;
	margin:0 auto;
}

.team-img {
	width:66.66%;
	height:567px;
	float:left;
	background:url('../images/team.png') no-repeat;
	background-size:cover;
	text-align:center;
	color:white;
	position:relative;
}

/* 小三角 */
.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent white;
	position: absolute;
}

.team-img .triangle {
	border-width: 12.5px 25px 12.5px 0;
	top: 237.5px;
	right: 0;
}


.team-img h2 {
	margin-top: 130px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 36px;
}

.team-img h1 {
	margin-top: -20px;
	margin-bottom: 0;
	font-size: 155px;
	font-weight: normal;
}

.team-img p {
	font-size: 16px;
}

.team-desc {
	width:33.33%;
	height:567px;
	float:right;
	text-align:center;
}

.team-desc h2 {
	margin-top:160px;
	font-size:21px;
	font-weight:normal;
	display:inline-block;
}

.team-desc span {
	font-size:26px;
}

.team-right-h2 {
	font-size:30px;
	color:#e74f4d;
}

.team-desc p {
	margin:30px 70px;
	text-align:left;
	font-size:14px;
	line-height:30px;
}

.team-desc button {
	margin:35px auto 30px auto;
	width:105px;
	height:32px;
	border:1px solid #e74f4d;
	color:#e74f4d;
	font-size:14px;
	background-color:white;
	cursor:pointer;
}

.team-desc button:hover {
	color:white;
	background-color:#e74f4d;
}

/* 小圆点 */
.team-desc ul {
	width:96px;
	height:24px;
	margin:auto auto;
}

.team-desc ul li {
	height:10px;
	width:10px;
	margin:10px 10px 0 10px;
	border: 1px solid #929292;
	border-radius: 5px;
	cursor:pointer;
}

.team-desc ul li.actived-li,
.team-desc ul li.unactived-li:hover {
	background: #929292;
}


/* 团队生活 */
.team-life-left,
.team-life-right,
.team-life-center {
	width:33.33%;
	height:520px;
	display:inline-block;
	float:left;
	font-family:SimHei, STHeiTi, sans-serif;
}

.team-life-left {
	background-color:#e74f4d;
	text-align:center;
}

.team-life-left h2 {
	color:white;
	font-size:21px;
	line-height:32px;
	font-weight:lighter;
	margin-top:190px;
}

.team-life-left div,
.team-life-center div {
	width:30px;
	height:2px;
	margin:20px auto;
}

.team-life-left div {
	background-color:white;
}

.team-life button {
	width:150px;
	height:35px;
	margin:0 auto;
	font-size:16px;
	cursor:pointer;
}

.team-life-left button,
.team-life-center button:hover {
	color:white;
	background-color:#e74f4d;
	border:1px solid white;
}

.team-life-left button:hover,
.team-life-center button {
	color:#e74f4d;
	background-color:white;
}

.team-life-center {
	background-color:white;
	text-align:center;
}

.team-life-center h2 {
	color:black;
	font-size:21px;
	line-height:32px;
	font-weight:lighter;
	margin-top:190px;
}

.team-life-center div {
	background-color:black;
}

.team-life-center button {
	border:1px solid #e74f4d;
}

.team-life-right {
	position:relative;
}

.team-life-right img {
	width:100%;
	height:100%;
}

.team-life-right .triangle {
	border-width: 12.5px 0 12.5px 25px;
	top: 237.5px;
	left: 0;
}


/* 遮罩 */
.team-life-right-mask {
	width:100%;
	height:520px;
	position:absolute;
	background-color:black;
	opacity:0.2;
	filter:alpha(opacity=20); /* IE */
}


.team-life-left:hover div,
.team-life-center:hover div {
	width:150px;
}

/* 志愿者 */
.volunteer div {
	float:left;
}

.volunteer {
	width:70%;
	min-width:1200px;
	height:470px;
	margin:120px auto 165px auto;
}

.volunteer .top {
	width:100%;
	text-align:center;
	height:180px;
}

.top h1 {
	font:22px SimHei, STHeiti, sans-serif;
	margin:0 auto 20px auto;
}

.top p {
	font-size:14px;
}

.volunteer .left {
	width:29.33%;
	height:290px;
	padding:0 2%;
	color:#929292;
}

.left h2 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
}

.left p,
.left a span {
	font:12px/20px SimSun, STSong, serif;
}

.left a {
	float:right;
	text-decoration:none;
	color:black;
	margin-bottom:10px;
}

/* 志愿者表单 */
.volunteer form input {
	width:25%;
	height:35px;
	border:0;
	margin:0 2% 10px 2%;
	padding:0 2%;
	font:14px "Microsoft YaHei", STHeiti, sans-serif;
	background-color:#eee;
}

.volunteer form textarea {
	width:58.5%;
	height:120px;
	padding:0 2%;
	margin:10px 2%;
	border:0;
	font-size:14px;
	overflow:hidden;
	background-color:#eee;
}

.volunteer form input:hover,
.volunteer form textarea:hover {
	background-color:#ededee;
}

.volunteer form button {
	width:62.66%;
	height:40px;
	text-align:center;
	border:0;
	margin:0 2%;
	font-size:15px;
	cursor:pointer;
	background-color:#eee;
}

.volunteer form button:hover {
	background-color:#e74f4d;
	color:white;
}

/* 底部 */
.footer {
	width:100%;
	height:415px;
	text-align:center;
	background-color:#2f3038;
}

.contact {
	height:360px;
	background-color:#32353e;
	color:#e0dcdd;
}

.contact h1 {
	font-size:21px;
	padding-top:90px;
}

.contact p {
	font:14px/20px;
	margin:10px auto 30px auto;
}

.contact form {
	width:510px;
	height:40px;
	margin:0 auto;
}

.input-email {
	width:410px;
	height:40px;
	border:0;
	font-size:20px;
	padding:0 10px;
	display:inline-block;
	float:left;
}

.input-submit {
	width:80px;
	height:40px;
	border:0;
	background-color:#686166;
	color:#e0dcdd;
	float:right;
	display:inline-block;
	font-size:16px;
	cursor:pointer;
}

.input-submit:hover {
	background-color:#e74f4d;
}

.contact ul {
	width:210px;
	height:30px;
	margin:35px auto;
}

.contact ul li {
	list-style-type:none;
	float:left;
	margin:0 12px;
}

.copyright {
	width:70%;
	min-width:1100px;
	height:35px;
	margin:0 auto;
	color:#e0dcdd;
	padding-top:20px;
	font-size:12px;
}

.copyright-left {
	float:left;
}

.back-to-top {
	float:right;
	color:#e0dcdd;
}
